{{> header title=title }}

<div class="homepage-top">
<div class="site-wrapper">
<div class="grid-row">

<div class="column-full">
<h1 class="heading-xlarge">{{ title }}</h1>
</div>

<div class="column-two-thirds">
<div class="">{{{ marked introduction }}}</div>
</div>
</div>
</div>
</div>


<div class="site-wrapper">
<div class="grid-row">

{{#each this.ancestry.firstSibling.ancestry.children }}
<div class="column-one-third">
<h2 class="heading-medium">
	<a href="{{ path }}">{{ title }}</a>
</h2>
{{{ marked introduction }}}
</div>
{{/each}}


</div>

</div>

{{> footer }}